<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rest.articlemakerrest.mapper.ArticleMapper">
    <select id="getArticleList" resultType="rest.articlemakerrest.DTO.Article">
        SELECT * FROM  articleMaker.article;
    </select>

    <insert id="insertArticle" parameterType="rest.articlemakerrest.DTO.Article">
        INSERT INTO articleMaker.article
        VALUES (
                #{id},
                #{status},
                #{writer_id},
                #{title},
                #{content},
                #{create_time},
                #{published_time},
                #{view_count}
        )
    </insert>
</mapper>